<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_coinfolio"
        android:label="Coinfolio"
        android:roundIcon="@drawable/ic_coinfolio"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".DeleteAccount"
            android:exported="false" />
        <activity
            android:name=".changePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".MainProfile"
            android:exported="false" />
        <activity
            android:name=".updateEmailActivity"
            android:exported="false" />
        <activity
            android:name=".updateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity android:name=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".welcomeActivity" />
        </activity>
        <activity android:name=".RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".welcomeActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".welcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>